body {
  background: #cacaca;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 20px;
  margin: 10px auto;
  padding: 8px 10px;
}

.content {
  background: #e3f4ff;
  display: block;
  margin: 10px auto;
  padding: 15px 5px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 9px 20px;
  display: block;
  margin: 0 auto 5px
}